/* ABOUT & CONTACT */
.About .one-third {
	float: left;
}
.About .two-third {
    float: none;
}
.about-content {
    max-width: 64rem;
    margin: 0 auto;
}
.About .one-third img {
	float: right;
	margin-top: 8%;
    margin-right: px;
}
.about-photo {
    visibility: hidden;
    position: absolute;
    width: 70%;
    margin-right: 60px
}
.Contact {
    max-width: 64rem;
    margin: 80px auto 0;
}
.Contact .one-third {
    float: left;
    height: 200px;
    position: absolute;
}
.Contact .two-third {
    float: none;
}
.about-description {
    line-height: 130%;
    letter-spacing: 1px;
}

.about-big {
    font-size: 1.2rem;
    font-weight: 500;
}

.authors {
    font-weight: 500;
    line-height: 3;
}

.quotes {
    font-size: .8rem;
}

.socialLogos {
	margin: 5px 5px;
}
.social-logos {
	height: 1.5rem;
}
