/*#nav {
	left: 20px;
	list-style: none;
	margin: 0;
	position: fixed;
	top: 20px;
}

#nav li {
	margin-bottom: 2px;
}

#nav a {
	background: #ffffff;
	color: #666;
	display: block;
	font-size: 14px;
	padding: 5px 10px;
	text-decoration: none;
	text-transform: uppercase;
}

#nav a:hover {
	color: #ededed;
}

#nav .current a {
	background: #666;
	color: #ededed;
}*/