/* MEDIA QUERIES */

/* Larger Mobile Devices */
@media (min-width: 460px) {
    h1 {
        margin: -15px -150px 0px 0px;
    }
	.content {
		padding: 0 1%;
		width: 100%;
		position: relative;
	}
    .content li {
    margin: 0;
    }
    .project-kind {
        font-size: 17px;
    }
    .role {
        font-size: 14px;
    }
	.overlay-content {
		padding: 1.5em 1%;
		width: 100%;
		position: relative;
	}
}

/* < Tablets */
@media (max-width: 767px) {
  .alexa-video {
    display: none;
  }
}

/* Tablets */
@media (min-width: 768px) {
    .logo {
        margin-right: 3rem;
    }
    .hero {
        visibility: visible;
    }
    h1 {
        letter-spacing: 18px;
        display: block;
        font-size: 2rem;
        margin: -15px -100px 0px 0px;
    }
    h3 {
        font-size: 25px;
    }
	.content {
		padding: 1.5em 5%;
		width: 90%;
		position: relative;
	}
    .project-kind {
        font-size: 18px;
    }
    .hero-image {
        visibility: hidden;
    }
    /* Case Study Heroes */
    .BB-hero {
        background-image: url(../images/bayBeans/mockUp-BB.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        max-height: 30em;
    }
    .CF-hero {
        background-image: url(../images/compassionFund/mockUp-CF-02.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        max-height: 30em;
    }
    .CSL-hero {
        background-image: url(../images/csLewis/mockUp-CSL.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        max-height: 30em;
    }
    .AV-hero {
        background-image: url(../images/alexaVideo/mockUp_alexa.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        max-height: 30em;
    }
    
    .hero-header {
        color: #ffffff;
        position: absolute;
        top: 30%;
        -webkit-transform: translateY(-30%);
        -moz-transform: translateY(-30%);
        -ms-transform: translateY(-30%);
        transform: translateY(-30%);
        box-sizing: border-box;
        padding-left: 7%;
        width: 100%;
        text-align: left;
        text-shadow: 1px 1px 0 #755b56;
    }
    .summary {
        color: #ffffff;
        font-size: 1.2em;
        position: absolute;
        top: 43%;
        -webkit-transform: translateY(-43%);
        -moz-transform: translateY(-43%);
        -ms-transform: translateY(-43%);
        transform: translateY(-43%);
        box-sizing: border-box;
        padding-left: 7%;
        width: 50%;
        max-width: 25em;
        text-align: left;
        text-shadow: 1px 1px 0 #755b56;
    }
    li.btn-outline {
        position: absolute;
        left: 7%;
        top: 70%;
        -webkit-transform: translateY(-70%);
        -moz-transform: translateY(-70%);
        -ms-transform: translateY(-70%);
        transform: translateY(-70%);
    }
    .problem-solution {
        margin-top: -60px;
    }
    .main, .sidebar {
      float: none;
      padding: 20px;
      vertical-align: top;
    }
    .main {
        width: 2000rem;
      background-color: rgba(170,144,139,.2);
      display: table-cell;
        border-top: solid 3px #aa908b;
        border-bottom: solid 3px #aa908b;
        border-right: solid 3px #aa908b;
        padding: 30px;
    }
    .sidebar {
      width: 25%;
      display: table-cell;
      background-color: rgba(170,144,139,.5);
        border: solid 3px #aa908b;
        padding: 30px;
    }
	.overlay-content {
		padding: 1.5em 5%;
		width: 90%;
		position: relative;
	}
}

/* Laptops and Desktops */
@media (min-width: 992px) {
	.one-third {
		width: 29.33333%;
	}
	.two-third {
		width: 60.66666%
	}
    h1 {
        font-size: 61.69px;
        margin: -30px -200px 0px 0px;
    }
    h3 {
        font-size: 33px;
    }
	.content {
		padding: 1.5em 10%;
		width: 80%;
		position: relative;
		margin-bottom: 55px;
	}
    .project-kind {
        font-size: 1.5rem;
    }
    .role {
        font-size: 1rem;
    }
	.About .one-third {
		width: 34%;
	}
    .About .two-third {
        float: left;
    }
    .about-photo {
    visibility: visible;
    position: relative;
	margin-right: 30px;
    padding-top: 130px;
    }
	.Contact .one-third {
		width: 34%;
        position: relative;
	}
    .Contact .two-third {
        float: left;
    }
    .hero-header {
        font-size: 60px;
    }
    .summary {
        font-size: 1.3em;
    }
    .overlay-content {
		padding: 1.5em 10%;
		width: 80%;
		position: relative;
		margin-bottom: 55px;
	}
}
