/* MEDIA QUERIES */

/* Larger Mobile Devices */
@media (min-width: 460px) {
    h1 {
        margin: -15px -150px 0px 0px;
    }
	.content {
		padding: 1.5em 1%;
		width: 100%;
		position: relative;
	}
    .content li {
    margin: 0;
    }
	.overlay-content {
		padding: 1.5em 1%;
		width: 100%;
		position: relative;
	}
}

/* Tablets */
@media (min-width: 768px) {
    .logo {
        margin-right: 3rem;
    }
    .hero {
        visibility: visible;
    }
    h1 { 
        letter-spacing: 18px;
        display: block;
        font-size: 2rem;
        margin: -15px -100px 0px 0px;
    }
    h3 {
        font-size: 25px;
    }
	.content {
		padding: 1.5em 5%;
		width: 90%;
		position: relative;
	}
	.overlay-content {
		padding: 1.5em 5%;
		width: 90%;
		position: relative;
	}
}

/* Laptops and Desktops */
@media (min-width: 992px) {
	.one-third {
		width: 29.33333%;
	}
	.two-third {
		width: 60.66666%
	}
    h1 {
        font-size: 61.69px;
        margin: -30px -200px 0px 0px;
    }
    h3 {
        font-size: 33px;
    }
	.content {
		padding: 1.5em 10%;
		width: 80%;
		position: relative;
		margin-bottom: 55px;
	}
	.About .one-third {
		width: 34%;
	}
    .About .two-third {
        float: left;
    }
    .about-photo {
    visibility: visible;
    position: relative;
	margin-right: 30px;
    }
	.Contact .one-third {
		width: 34%;
        position: relative;
	}
    .Contact .two-third {
        float: left;
    }
    .overlay-content {
		padding: 1.5em 10%;
		width: 80%;
		position: relative;
		margin-bottom: 55px;
	}
}
