/* MEDIA QUERIES */

/* Larger Mobile Devices */
@media (min-width: 460px) {
	.content {
		padding: 1.5em 1%;
		width: 90%;
		position: relative;
	}
	.content-item-small {
		margin: 0 2% 25px;
		float: left;
		display: block;
	}
	.content-item-medium {
		margin: 0 2% 25px;
		float: left;
		display: block;
	}
	.content-item-big {
		margin: 0 2% 25px;
		float: left;
		display: block;
	}
}

/* Tablets */
@media (min-width: 768px) {
	.content {
		padding: 1.5em 5%;
		width: 90%;
		position: relative;
	}
	.content-item-small {
		margin: 0 1% 25px;
	}
	.content-item-medium {
		margin: 0 1% 25px;
	}
	.content-item-big {
		margin: 0 1% 25px;
	}
	.two-third {
		margin-left: auto;
	}
}

/* Laptops and Desktops */
@media (min-width: 992px) {
	.one-third {
		width: 29.33333%;
	}
	.two-third {
		width: 60.66666%
	}
	.content {
		padding: 1.5em 10%;
		width: 80%;
		position: relative;
		margin-bottom: 55px;
	}
	.content-item-small {
		margin: 0 0 20px;
	}
	.content-item-medium {
		margin: 0 0 20px;
	}
	.content-item-big {
		margin: 0 0 20px;
	}
	.About .one-third {
		width: 34%;
	}
}