/* Case Study Heroes */
.BB-hero {
    margin: 0 auto;
    margin-bottom: 60px;
    z-index: 1000;
    position: relative;
}
.CF-hero {
    margin: 0 auto;
    margin-bottom: 60px;
    z-index: 1000;
    position: relative;
}
.CSL-hero {
    margin: 20px auto;
    margin-bottom: 60px;
    z-index: 1000;
    position: relative;
}

.remodal-title {
    font-family: "Quicksand", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #a7603e;
    font-size: 60px;
}
.summary {
    font-size: 20px;
    text-align: center
}
li.btn-outline {
	padding: 10px 15px;
	background: #a7603e;
	border: 2px solid #a7603e;
	border-radius: 4px;
	width: 126px;
    padding: 10px 30px;
    margin: auto;
}
li.btn-outline > a {
    color: #ffffff;
    font-size: 1rem;
    font-family: "Quicksand", Helvetica, Arial, sans-serif;
}
li.btn-outline:hover {
	background: #aa908b;
	border: 2px solid #aa908b;
    cursor: pointer;
}
li.btn-outline:hover > a {
	color: #FFFFFF;
}
.process {
    margin: 0 auto;
    max-width: 64rem;
}
.remodal-description {
    font-size: 16px;
    text-align: justify;
    max-width: 64rem;
    margin: 20px auto;
    line-height: 130%;
    letter-spacing: 1px;
}
.overlay-content {
	width: 98%;
	position: relative;
    margin: 0 auto;
}
.overlay-content li {
    margin: 0;
}
.overlay-images {
    width: 100%;
}
.overlay-header {
    width: 70%;
    min-width: 20em;
}
.hero-image {
    width: 100%;
    margin-bottom: 30px;
}
.overlay-titles {
	color: #a7603e;
    font-size: 30px;
}
.sidebar {
  background-color: rgba(170,144,139,.5);
    border: solid 3px #aa908b;
    padding: 15px;
}
.main {
      background-color: rgba(170,144,139,.2);
    border-left: solid 3px #aa908b;
    border-right: solid 3px #aa908b;
    border-bottom: solid 3px #aa908b;
    padding: 15px;
}
.solution-description {
    font-size: 18px;
    text-align: justify;
    max-width: 64rem;
    margin: 20px auto;
}

.problem-description {
    font-size: 18px;
    text-align: justify;
    max-width: 17rem;
    margin: 20px auto;
}

.problem-solution {
    margin-bottom: 50px;
}
.x {
    width: 50%;
}
