.project-hero {
    margin: 20px auto;
    max-width: 64rem;
}
.remodal-title {
    font-family: "Quicksand", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #a7603e;
    font-size: 60px;
}
.summary {
    font-size: 20px;
    text-align: center
}
li.btn-outline {
	padding: 10px 15px;
	background: #a7603e;
	border: 2px solid #a7603e;
	border-radius: 4px;
	width: 126px;
    padding: 10px 30px;
    margin: auto;
}
li.btn-outline > a {
    color: #ffffff;
    font-size: 1rem;
    font-family: "Quicksand", Helvetica, Arial, sans-serif;
}
li.btn-outline:hover {
	background: #aa908b;
	border: 2px solid #aa908b;
    cursor: pointer;
}
li.btn-outline:hover > a {
	color: #FFFFFF;
}
.explanation {
    margin: 60px auto;
    max-width: 64rem;
}
.remodal-description {
    font-size: 18px;
    text-align: justify;
}
.overlay-content {
	width: 98%;
	position: relative;
    margin: 0 auto;
}
.overlay-content li {
    margin: 0;
}
.overlay-image {
    width: 100%;
}
.overlay-grid {
	max-width: 100%;
	list-style: none;
	margin: 30px 30px;
	padding: 0;
}

.overlay-grid li {
	display: block;
	float: left;
	padding: 7px;
	width: 31%;
}

.overlay-grid li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}

/* Media Queries */
@media screen and (max-width: 900px) {
	.overlay-grid li {
		width: 45%;
	}
}

@media screen and (max-width: 400px) {
	.overlay-grid li {
		width: 100%;
	}
}
.overlay-titles {
    margin-top: 40px;
}
