.project-hero {
    margin: 20px auto;
    margin-bottom: 60px;
    max-width: 64rem;
}
.remodal-title {
    font-family: "Quicksand", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #a7603e;
    font-size: 60px;
}
.overlay-titles {
    margin-top: 40px;
}
.summary {
    font-size: 20px;
    text-align: center
}
li.btn-outline {
	padding: 10px 15px;
	background: #a7603e;
	border: 2px solid #a7603e;
	border-radius: 4px;
	width: 126px;
    padding: 10px 30px;
    margin: auto;
}
li.btn-outline > a {
    color: #ffffff;
    font-size: 1rem;
    font-family: "Quicksand", Helvetica, Arial, sans-serif;
}
li.btn-outline:hover {
	background: #aa908b;
	border: 2px solid #aa908b;
    cursor: pointer;
}
li.btn-outline:hover > a {
	color: #FFFFFF;
}
.explanation {
    margin: 30px auto;
    max-width: 64rem;
}
.remodal-description {
    font-size: 18px;
    text-align: justify;
}
.overlay-content {
	width: 98%;
	position: relative;
    margin: 0 auto;
}
.overlay-content li {
    margin: 0;
}
table {
    clear: both;
    width: 100%;
    max-width: 64rem;
    border-collapse: collapse;
}


th {
    text-align: center;
}

td {
    display: block;
    vertical-align: top;
}
table, td {
    border: solid 2px #aa908b;
}

.three-fourth {
    background-color: rgba(170,144,139,.2);
}

.one-fourth {
    background-color: rgba(170,144,139,.5);  
}

.overlay-images {
    width: 100%;
    position: relative;
}
