html, body {
	overflow-x: hidden;
}
body {
	font-family: "Asap", Helvetica, Arial, sans-serif;
	color: #333333;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Quicksand", Helvetica, Arial, sans-serif;
}
h1 {
	color: #4e1e1e;
	font-weight: bold;
	font-size: 61.69px;
}
h2 {
	color: #a7603e;
	font-weight: lighter;
	font-size: 61px;
}
h3 {
	color: #4e1e1e;
	font-weight: lighter;
	font-size: 33px;
}
p {
	font-size: 24px;
	font-weight: normal;
}

/* GRID */
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	width: auto;
}
.container:before,
.container:after {
	content: " ";
	display: table;
}
.container:after {
	clear: both;
}
.one-third, .two-third {
	width:96%;
	position:relative;
	min-height: 1px;
	margin:0 2% 20px;
}

/* TREES */
.trees-left {
	left: 0%;
}
.trees-right {
	right: 0%;
}

/* HEADER */
header {
	background-image: url("images/trees_upperLeft.png");
}
header nav {
	padding: 1em 0;
	position: fixed;
}
header nav ul {
	display: inline;
	text-align: right;
	float: right;
	margin: 0;
}
header nav ul > li {
	list-style-type: none;
	display: inline-block;
	margin: 0 15px;
}
header nav ul > li > a {
	color: #333333;
	font-size: 14px;
	text-decoration: none;
}
header nav a:hover {
	color: #a7603e;
}
header nav a:active {
	color: #a7603e;
	font-size: 18px;
}
header .hero {
	text-align: center;
	display: block;
	position: relative;
}
header .hero h1 {
	margin: 95px 0 0;
}
header .hero h3 {
	margin: 10px 0 40px;
}

/* CONTENT */
.content {
	padding: 6em 1% 1.5em;
	float: right;
	width: 98%;
	position: relative;
}
.content-item {
	width: 96%;
	margin: 0 2% 25px;
	float: left;
	display: block;
}
.item-box {
	display: block;
	height: 230px;
	background: #e1e1e1;
	box-shadow: 0px 1px 3px 0px rgba (0,0,0,0.40);
	position: relative;
	overflow: hidden;
	padding: 20px;
}

/* MEDIA QUERIES */

/* Larger Mobile Devices */
@media (min-width: 460px) {
	.content {
		padding: 1.5em 1%;
		width: 90%;
		position: relative;
	}
	.content-item {
		width: 46%;
		margin: 0 2% 25px;
		float: left;
		display: block;
	}
}

/* Tablets */
@media (min-width: 768px) {
	.content {
		padding: 1.5em 5%;
		width: 90%;
		position: relative;
	}
	.content-item {
		width: 31.33333%;
		margin: 0 1% 25px;
	}
}

/* Laptops and Desktops */
@media (min-width: 992px) {
	.one-third {
		width: 29.33333%;
	}
	.two-third {
		width: 60.66666%
	}
	.content {
		padding: 1.5em 1%;
		width: 80%;
		position: relative;
	}
	.content-item {
		width: 23%;
		margin: 0 1% 25px;
	}
}