html, body {
	overflow-x: hidden;
}
body {
	font-family: "Asap", Helvetica, Arial, sans-serif;
	color: #333333;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Quicksand", Helvetica, Arial, sans-serif;
}
h1 {
	color: #4e1e1e;
	font-weight: bold;
	font-size: 61.69px;
	font-family: "Raleway", Helvetica, Arial, sans-serif;
}
h2 {
	color: #a7603e;
	font-weight: 400;
	font-size: 61px;
	margin-bottom: 0px;
	margin-top: 0px;
}
h3 {
	color: #4e1e1e;
	font-weight: 400;
	font-size: 33px;
}
h4 {
	color: #333333;
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 1px;
	margin-top: 6px;
	margin-bottom: 2px;
}
h5 {
	color: #333333;
	font-size: 24px;
	font-weight: 400;
	margin-top: -2px;
	margin-bottom: 0px;
}
h6 {
	color: #a7603e;
	font-size: 24px;
	font-weight: 400;
	margin-top: 17px;
}
p {
	font-size: 24px;
	font-weight: normal;
	padding-right: 20%;
}
a {
	color: #a7603e;
	z-index: 1;
}
section {
	clear: both;
}

/* GRID */
.container {
	position: relative;
	width: auto;
}
.container:before,
.container:after {
	content: " ";
	display: table;
}
.container:after {
	clear: both;
}
.one-third, .two-third {
	width:96%;
	position:relative;
	min-height: 1px;
}

/* HEADER */
header {
	top: 0px;
	margin-bottom: 50px;
}
header nav {
	position: fixed;
}
header nav .one-third {
	position: absolute;
	right: 0px;
}
header nav > .two-third {
	margin-left: 0px;
}
header nav ul {
	display: inline;
	text-align: right;
	float: right;
	margin: 15px 30px;
	position: fixed;
	top: 0px;
	right: 0px;
	background: rgba(255,255,255,.5);
	z-index: 1;
	padding-left: 0px;
}
header nav ul > li {
	list-style-type: none;
	display: inline-block;
	margin: 15px;
}
header nav ul > li > a {
	color: #333333;
	font-size: 14px;
	text-decoration: none;
}
header nav a:hover {
	color: #a7603e;
}
header nav a:active {
	color: #a7603e;
}
header .hero {
	text-align: center;
	display: block;
	position: relative;
	margin-top: 125px;
}
header .hero h1 {
	margin: -30px -200px 0px 0px;
	letter-spacing: 18px;
}
header .hero h3 {
	margin: 10px 0 40px;
}
.trees-upperLeft {
	position: absolute;
	top: 0px;
	left: 0px;
}
.trees-upperRight {
	position: absolute;
	top: 0px;
	right: 0px;
}

/* CONTENT */
.content {
	padding: 6em 1% 1.5em;
	float: right;
	width: 98%;
	position: relative;
}
.square {
  width: 100%; 
  height: 100%; 
  display: table;
  background: rgba(0,0,0,.5);
}
.group {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center;
  background: rgba(0,0,0,.5);
}
.description {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom:0px;
	right:0px;
	background: inherit;
	background-attachment: fixed;
	overflow: hidden;
	opacity: 0;
	transition: opacity 0.3s linear;
	padding: 7px;
}
.description:before {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 0;
	width: 200%;
	height: 200%;
	background: inherit;
	background-attachment: fixed;
}
.description:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.content li:hover .description {
	opacity: 1;
}
.title {
	color: #ffffff;
	padding-right: 0px;
}
.subtitle {
	color: #e1e1e1;
	padding-right: 0px;
	font-size: 18px;
}

/* ABOUT & CONTACT */
.About .one-third {
	float: left;
}
.About .one-third img {
	float: right;
	margin-top: 8%;
}

/* FOOTER */
footer {
	margin-top: 141px;
}
.trees-lowerLeft {
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.trees-lowerRight {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

/* OVERLAY */
/*.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.5);
}
.overlay-scale {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-scale.open {
	opacity: 1;
	visibility: visible;
	transition: transform 0.4s, opacity 0.4;
}

.overlay-scale p{
	perspective: 1200px;
}

.overlay-scale p {
	opacity: 0.4;
	transform: translateY(-25%) rotateX(35deg);
	transition: transform 0.5s, opacity 0.5s;
}

.overlay-scale.open p {
	opacity: 1;
	transform: rotateX(0deg);
}

.overlay-scale.close p {
	transform: translateY(25%) rotateX(-35deg);
}
*/
/* MEDIA QUERIES */

/* Larger Mobile Devices */
@media (min-width: 460px) {
	.content {
		padding: 1.5em 1%;
		width: 90%;
		position: relative;
	}
	.content-item-small {
		margin: 0 2% 25px;
		float: left;
		display: block;
	}
	.content-item-medium {
		margin: 0 2% 25px;
		float: left;
		display: block;
	}
	.content-item-big {
		margin: 0 2% 25px;
		float: left;
		display: block;
	}
}

/* Tablets */
@media (min-width: 768px) {
	.content {
		padding: 1.5em 5%;
		width: 90%;
		position: relative;
	}
	.content-item-small {
		margin: 0 1% 25px;
	}
	.content-item-medium {
		margin: 0 1% 25px;
	}
	.content-item-big {
		margin: 0 1% 25px;
	}
	.two-third {
		margin-left: auto;
	}
}

/* Laptops and Desktops */
@media (min-width: 992px) {
	.one-third {
		width: 29.33333%;
	}
	.two-third {
		width: 60.66666%
	}
	.content {
		padding: 1.5em 10%;
		width: 80%;
		position: relative;
		margin-bottom: 55px;
	}
	.content-item-small {
		margin: 0 0 20px;
	}
	.content-item-medium {
		margin: 0 0 20px;
	}
	.content-item-big {
		margin: 0 0 20px;
	}
	.About .one-third {
		width: 34%;
	}
}